@mjml({
  keepComments: false,
  fonts: {
    Lato: 'https://fonts.googleapis.com/css?family=Lato:400,500,700'
  }
})
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text>
            Seja bem vindo ao <i>sistema hospitalar</i>, <strong>{{ name }}</strong>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end
